
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_AdvertHeadPartial")

<body>

    @await Component.InvokeAsync("_AdvertHeaderPartial")

    @await Component.InvokeAsync("_AdvertBannerPartial")

    @await Component.InvokeAsync("_AdvertListPartial")

    @await Component.InvokeAsync("_AdvertIntroducePartial")

    @await Component.InvokeAsync("_AdvertFooterPartial")

    @await Component.InvokeAsync("_AdvertScriptPartial")

</body>
</html>