
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rapor Sayfası</h1>

<a href="/Report/StaticExcelList/" class="btn btn-primary">Excel Statik Raporlar</a>
<br />
<br />
<a href="/Report/ExcelDynamic/" class="btn btn-warning">Excel Dinamik Raporlar</a>
<br />
<br />
<a href="/Report/StaticPdfReport/" class="btn btn-info">Pdf Statik Raporlar</a>
